<!DOCTYPE html>
<html>
	<head>
		<title>MemStats Viewer</title>
		<link rel="stylesheet" href="scripts/main.css" />
	</head>
	<body>
		<script id="ms-viewer-template" type="template/text">
		<div class="group">
			<h3>General</h3>
			<div class="cell">
				Allocated + In use: <% Alloc %>
			</div>
			<div class="cell">
				Total + Freed: <%= TotalAlloc %> 
			</div>
			<div class="cell">
				System: <%= Sys %> 
			</div>
			<br />
			<div class="cell">
				Lookups: <%= Lookups %>
			</div>
			<div class="cell">
				Mallocs: <%= Mallocs %>
			</div>
			<div class="cell">
				Frees: <%= Frees %>
			</div>
		</div>

		<div class="group">
			<h3>Heap</h3>
			<div class="cell">
				Allocated + In use: <%= HeapAlloc %> 
			</div>
			<div class="cell">
				System: <%= HeapSys %> 
			</div>
			<div class="cell">
				Idle: <%= HeapIdle %> 
			</div>
			<div class="cell">
				In use: <%= HeapInuse %> 
			</div>
			<div class="cell">
				Released: <%= HeapReleased %> 
			</div>
			<br />
			<div class="cell">
				Objects: <%= HeapObjects %>
			</div>
		</div>

		<div class="group">
			<h3>Low-level allocator statistics</h3>
			<!-- Low-level fixed-size structure allocator statistics.-->
			<!--	Inuse is bytes used now.-->
			<!--	Sys is bytes obtained from system.-->
			<div class="cell">
				Stack:
				<%= StackInuse %> / <%= StackSys %> 
			</div>
			<div class="cell">
				MSpan:
				<%= MSpanInuse %> / <%= MSpanSys %> 
			</div>
			<div class="cell">
				MCache: <%= MCacheInuse %> / <%= MCacheSys %> 
			</div>
			<br />
			<div class="cell">
				BuckHashSys: <%= BuckHashSys %>
			</div>
			<div class="cell">
				GCSys: <%= GCSys %>
			</div>
			<div class="cell">
				Other: <%= OtherSys %>
			</div>
		</div>

		<div class="group">
			<h3>Garbage collector</h2>
			Next heap alloc: <%= NextGC %>
			<div class="cell">
				Last: <%= LastGC %>
			</div>
			<div class="cell">
				PauseTotalNs: <%= PauseTotalNs %>
			</div>
			<div class="cell">
				NumGC: <%= NumGC %>
			</div>
			<div class="cell">
				EnableGC: <%= EnableGC %>
			</div>
			<div class="cell">
				DebugGC: <%= DebugGC %>
			</div>
		</divlen(d.change)-1:len(d.change)>

		</script>
		<div id="ms-viewer"></div>

		<script src="scripts/underscore-min.js"></script>
		<script src="scripts/main.js"></script>
	</body>
</html>
